/* header */
.jumbotron{
  background-color: #333;
  color: #0fd53b;
  font-family: 'Source Code Pro', monospace;
}
/* main */
#gameScreen{
  background-color: #000;
  height: 500px;
  font-family: 'Source Code Pro', monospace;
}

.subGameText{
  color:#0fd53b;
  text-align: center;

}
#CorrText{
  color:#e84b11;
  text-align: center;

}
.gameText{
  color:#0fd53b;
  text-align: center;
  margin-top: 200px;
  padding-bottom: 60px;
}
#timer{
  color:#eee;
  font-size: 1.5em;
  text-align: left;
  display: inline-block;


}
#score{
  color:#eee;
  font-size: 1.5em;
  text-align: right;
  display: inline-block;
  padding-right: 450px;


}
/* footer */

#instructions{
  background-color: #333;
  color: #e6edf0;
  padding-bottom: 5px;
  font-size: 1.25em;
}
