/* header */
.jumbotron{
  background-color: #333;
  color: #0fd53b;
}
/* main */
#gameScreen{
  background-color: #000;
  height: 500px;
}

.subGameText{
  color:#0fd53b;
  text-align: center;
}
#CorrText{
  color:#e84b11;
  text-align: center;
}
.gameText{
  color:#0fd53b;
  text-align: center;
  margin-top: 200px;
  padding-bottom: 60px;
}
#timer{
  color:#eee;
  font-size: 1.5em;
  text-align: right;
}
/* footer */

#instructions{
  background-color: #333;
  color: #e6edf0;
  padding-bottom: 55px;
}
